footer {
	display: flex;
	padding: 66px 464px 29px 463px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 28.556px;
	background-color: $background-color_1;
	& img {
		filter: brightness(0) invert(1);
		height: 39px;
		width: 122px;
	}
	& p {
		color: $color_1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
	}
}
@media screen and (max-width: 760px) {
	footer {
		display: flex;
		width: 100%;
		padding: 62px 0px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: -0.444px;
		& p {
			font-size: 12px;
		}
	}
}
