header {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;

	& nav {
		display: flex;
		align-items: center;
		gap: 50px;
		font-size: 24px;

		& .navlink {
			text-decoration: none;
			color: $color_2;
		}
		
	}
}
@media screen and (max-width:760px) {
	header{
		padding: 0 15px 0 20px;
		
		& img {width: 145px;
			height: 47px;}
		& nav {
			font-size: 12px;
			gap:10px;
			text-transform: uppercase;
		}
	}
}

